@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

body{
    background-image: linear-gradient(to right bottom, #c31432,#240b36);
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: #c31432;
}

a:hover {
    text-decoration: none;
    color: black;
}

.container {
    padding-top: 50px;
}

.row {
    height: 90vh;
}



.app__main-content {
    background-color: white;
    border-radius: 20px;
    padding: 25px 15px;
}

/* sidebar */
.sidebar {
    background-color:white;
    height: 100%;
    border-radius: 20px;
    padding: 25px 15px;
    box-shadow: 0 0 10px black;
    text-align: center;
}

.sidebar__avatar {
    height: 110px;
    width: 120px;
    object-fit: contain;
    border-radius: 30px;

}

.sidebar__icon {
    width: 25px;
    height: 25px;
}

.sidebar__name {
    font-family: 'Kaushan Script' ;
    margin: 20px 0;
    font-size: 1.7rem;
}

.sidebar__name>span {
    color: #c31432;
}

.sidebar__item {
    margin-bottom: 6px;
    padding-top: 6px;
    height: 40px;
    font-size: 1.05rem;
    border-radius: 30px;
}

.sidebar__title {
    background-color: lightsalmon;
    border-radius: 30px;
}

.sidebar__contact {
    background-color: lightsalmon;
    padding: 2px 0;
    margin: 20px -15px;
}

.sidebar__email {
    background-image: linear-gradient(to right bottom, #c31432,#240b36);
    border-radius: 30px;
    color: white;
    margin: 15px 25px 0px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar__email:hover {
    transform: scale(1.2);
}

.sidebar__github:hover,
.sidebar__resume:hover {
    background-color: #f1f1f2;
    color: black;
}

@media(max-width:991px) {
    .app__main-content {
        margin: 30px 0;
    }
}

/* navbar */
.navbar__items {
    display: flex;
}

.navbar__active {
    font-size: 2rem;
    font-weight: 700;
    color: grey;
    border-bottom: 4px solid  #c31432;
}

.navbar__item{
    margin-right: 20px;
    text-decoration: none;
    color: grey;
    font-size: 1.3rem;
    cursor: pointer;
}

.navbar__item:hover{
    background: -webkit-linear-gradient(#c31432,#240b36);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
